{% extends 'base.html' %}
{% block title %} Comprimir archivos
{% endblock %}
{% block content %}
<form action="{% url 'compress_files' %}" method="post" class="ui fluid form">
    {% csrf_token %}
    <ul>
        {% for file in files %}
            <li>
                <label>
                    <input type="checkbox" name="selected_files" value="{{ file }}">
                    {{ file }}
                </label>
            </li>
        {% endfor %}
    </ul>
    <button type="submit">Comprimir archivos seleccionados</button>
</form>
{% endblock %}