{% extends 'base.html' %}
{% load static %}
{% block title %} Comprimir archivos
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'compresor/css/cards.css' %}">
<!-- Segmento con nombre del apartado -->
<a class="ui blue ribbon label">
    <h3>Compresor de archivos</h3>
</a>
<p></p>
<!-- Mensaje de error si es que existe alguno -->
{% if mensaje %}
<label for="{{mensaje}}" style="color: red;">{{mensaje}}</label>
{% endif %}
<!-- Start Formulario de envío de datos de RFC -->
<form action="{% url 'list_files' %}" method="post" class="ui fluid form">
    {% csrf_token %}
    <div class="field">
        <h3>Escribe tu RFC</h3>
        <input type="text" name="rfc" placeholder="Escribe aquí tu RFC" required>
        <p></p>
        <button type="submit" class="ui fluid blue button">Buscar</button>
    </div>
</form>
<p></p>
<!-- End Formulario de envío de datos de RFC -->
{% if files %}
<!-- Start Formulario de envío de documentos a comprimir -->
<form action="{% url 'compress_files' %}" method="post" class="ui fluid form">
    {% csrf_token %}
    <!-- Utilizamos la clase grid de Semantic UI para organizar las tarjetas en columnas -->
    <div class="ui stackable three column grid">
        {% for file in files %}
        <!-- Cada tarjeta se coloca en una columna -->
        <div class="column">
            <div class="ui card">
                <div class="content">
                    <div class="header">{{ file.factura|stringformat:"s"|add:'_'|add:file.serie|stringformat:"s"|add:'.pdf' }}</div>
                    <div class="description">
                        <div>
                            <strong>Fecha de timbrado</strong><br>{{file.FechaDeTimbrado}}
                        </div>
                        <br>
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="selected_files" value="{{ file.RutaAppFact|add:'.pdf' }}">
                            <label>Seleccionar</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Segunda tarjeta para el XML -->
        <div class="column">
            <div class="ui card">
                <div class="content">
                    <div class="header">{{ file.factura|stringformat:"s"|add:'_'|add:file.serie|stringformat:"s"|add:'.xml' }}</div>
                    <div class="description">
                        <div>
                            <strong>Fecha de timbrado</strong><br>{{file.FechaDeTimbrado}}
                        </div>
                        <br>
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="selected_files" value="{{ file.RutaAppFact|add:'.xml' }}">
                            <label>Seleccionar</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <p></p>
    <button type="submit" class="ui fluid blue button">Comprimir archivos seleccionados</button>
</form>
<!-- End Formulario de envío de documentos a comprimir -->
{% endif %}
{% endblock %}